.App {

}

/*  New tab view */
.tab_data {
    width: 105%;
    margin: 20px;
    display: flex;
    font-size: 14px;
}

.rta__list {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.rta__item {
  border: none !important;
  font-size: 14px;
}
.rta__item:nth-child(1) {
  display: none;
}

.rta__item:nth-child(2) .rta__entity {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.rta__item:last-child .rta__entity {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.rta__entity>* {
  padding: 6px 40px 4px!important
}

.tab_input {
  border-width: initial;
  border-radius: 6px;
  height: 30px;
  width: 70% !important;
}

.edit_mode {
  border-width: initial;
  border-radius: 6px;
  margin-right: 10px;
  width: 180px;
}

.non_edit_mode {
  vertical-align: bottom;
  margin-right: 10px;
  width: 188px;
  align-self: center;
  font-size: 14px;
  opacity: 0.5;
}

.items_list {
  background-color: #61dafb;
}

.history_search {
    margin-left: 40px;
}

.tab_input_with_label {
    border-radius: 6px;
    height: 30px;
    width: 50%;
}

.tab_area {
    border-radius: 6px;
    width: 70%
}

.name_label {
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
}

.tab_footer {
     bottom: 10px;
     position: absolute;
     left: 20px;
     width: 85%;
}
.tab_checkbox {
    margin-bottom: 10px;
}
.tab_button {
   border-radius: 5px;
   height: 28px;
   margin-right: 20px;
   width: 114px;
}

/* List view */
.list_table {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    display: block;
}

.list_name_title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.list_row {
    display: flex;
    width: 88%;
    margin-bottom: 10px;
}

.list_name {
    display: flex;
    width: 80%;
    max-width: 80%;
}

.list_first_icon {
    float: left;
    margin-right: 20px;
}

.list_second_icon {
    float: left;
    margin-right: 10px;
}

.list_favicon {
    max-width: 30px;
    max-height: 30px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0a1d45;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}